<mat-tab-group animationDuration="0ms">
    <mat-tab>
        <ng-template mat-tab-label>
          
                Sign-in
           
        </ng-template>
       
        <h1 mat-dialog-title>Sign in<mat-icon [mat-dialog-close]="true"
                style="margin-left: 9.5cm;">highlight_off</mat-icon>
        </h1>
        <div mat-dialog-content>

            <form [formGroup]="singinForm" novalidate (ngSubmit)="onsinginsubmit()" class="d-flex-center">
                <div class="example-container">
                    <div>
                        <!-- input type email -->
                        <mat-form-field appearance="outline">
                            <mat-label>E-Mail</mat-label>
                            <input matInput placeholder="E-Mail" formControlName="email">
                            <mat-icon matSuffix>alternate_email</mat-icon>

                            <mat-error
                                *ngIf="!singinForm.get('email')?.errors?.required && (singinForm.get('email')?.errors?.pattern)">
                                Please enter a valid <strong>email address</strong>
                            </mat-error>
                            <mat-error
                                *ngIf="singinForm.get('email')?.invalid && (singinForm.get('email')?.dirty || singinForm.get('email')?.touched) && singinForm.get('email')?.errors?.required">
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <!-- input type Password -->

                        <mat-form-field appearance="outline">
                            <mat-label>password</mat-label>


                            <input matInput [type]="showPassword ? 'text' : 'password'" name="password"
                                placeholder="Password" formControlName="password">
                            <mat-icon matSuffix (click)="togglePasswordVisibility()">
                                {{showPassword?'visibility':'visibility_off'}}
                            </mat-icon>

                        </mat-form-field>

                        <button class="butt" mat-button color="primary">Forgot Password!</button>


                        <mat-divider></mat-divider>
                        <!-- button Submit -->
                     

                        <button style="width:100%; margin-top: 10px;" mat-raised-button color="primary" mat-button>Log In</button>

                    </div>
                </div>
            </form>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
          
            Sign-up
        </ng-template>
        <app-sign-up></app-sign-up>
    </mat-tab>

</mat-tab-group>