.loop {
    width: 50%;
    margin-left: 25%;
    cursor: pointer;
}

.card-body {
    text-align: center;
}

.head {
    align-items: center;
}

.cd {
    width: 80px;
    margin-right: 100%;

}

.cd1 {
    width: 80px;
    margin-left: 50%;
}

.container-fluid {

    padding-top: 2%;

}

.loop2 {
    width: 50px;
    height: 50Px;
}
.card1{
    height: 100%;
}
.loop1 {
    width: 50px;
    height: 50Px;
    text-align: left;
}
.hp:hover{
    background-color: gray;
    color: azure;
}