<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="\assets\loan1.jpg"
        class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">

      </div>
    </div>
    <div class="carousel-item">
      <img src="\assets\loan7.png"
        class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">

      </div>
    </div>
    <div class="carousel-item">
      <img src="\assets\loanslider3.jpg"
        class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">

      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div><br><br>
<!-- <h1 class="head">Why apply on Just-Search</h1> -->
<div class="container">

  <div class="row">
    <div class="col" *ngFor="let card of images" routerLink="/ComingSoon">
      <div class="row g-0">
        <img [src]="card.img" class="loop">
        <div class="card-body">
          <h3 class="card-title" routerLink="/ComingSoon"><b>{{card.title}}</b></h3>
        </div>
      </div>
    </div>
  </div>
</div>

<section>
  <div class="container">
    <div class="row">
      <h1 align="center" ><b><u>Why apply on Just-Search</u></b></h1>
      <div class="col" *ngFor="let Cardloop of LoanCardloops">
        <mat-card class="card1">
          <mat-card-content>
            <img [src]="Cardloop.img" class="loop2"><span><br><br>  </span>
            <h3 class="card-title"><b>{{Cardloop.title}} <h3 class="card-title"><b>{{Cardloop.title2}}</b></h3></b></h3>
            <h3 class="card-title">{{Cardloop.title1}}</h3>
            <img [src]="Cardloop.img1" class="loop1">
          </mat-card-content>

        </mat-card>

      </div>

    </div>

    
  </div>
  <hr>
  <div class="container">
    <div class="row">
      <h1 align="center">Get a Loan in 5 simple steps on Just-Search</h1><br>
     
      <!-- <img align="center" src="\assets\loan process2.png"> -->
    </div>
  </div>
  <section>
    <div class="container">


      <div class="row">
        <div class="col-12" *ngFor="let lo of cp">
          <br>
          <mat-card class="hp">
            <mat-card-content>
              <h3 class="card-title" ><b>{{lo.title}}</b></h3>
            </mat-card-content>
            <mat-card-content>
              <h3 class="card-title">{{lo.Des}}</h3>
            </mat-card-content>
          </mat-card>
          
        </div>
      </div>
    </div>

  </section><br><br><hr>
  <div class="container">
      <div class="padd">
      <h2>Apply For Instant Loans Online - Justdial</h2>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae alias aliquam voluptates repellat sapiente distinctio ducimus at provident maxime porro totam unde fugit, dolorum quia excepturi et, cum sunt vitae.
    
      <h1><u>Types of loans</u></h1>
      <h2>Car loan</h2>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab porro doloremque accusamus! Sit ipsam architecto nisi at assumenda labore facilis. Veniam, est exercitationem commodi dolores fuga hic quam sint consectetur.
      <h2>Personal loan</h2>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, voluptatem? Harum, labore excepturi? Hic fuga tempora recusandae omnis quasi ducimus rerum ex temporibus, debitis, nobis, veritatis quod numquam cupiditate! Laboriosam.
    
      <h2>Home loan</h2>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia quae accusantium esse voluptate aperiam explicabo. Quasi culpa soluta, ad et animi incidunt tempora qui natus, aut error tempore, veritatis deserunt.
      <h2>Two-wheeler loan</h2>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora dolores necessitatibus perspiciatis possimus, repellendus in rerum. Dicta laborum accusamus expedita quod amet, deserunt, nulla corrupti et vero possimus reprehenderit placeat.
    
      <h2>Business loan</h2>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore, maxime voluptatem aliquid vel velit porro unde temporibus! Veritatis explicabo, laudantium ullam consectetur libero iste error nam dolorum ducimus ratione quasi!
    
      <h2>Credit cards</h2>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum ipsa repudiandae vitae quisquam ducimus cum facilis optio tempora ratione pariatur, odit accusantium, voluptatem ullam molestiae, eius obcaecati nam fugiat. Aspernatur.
    
      <h1><u>Steps in getting loans online</u></h1>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium maxime numquam possimus delectus accusantium asperiores deserunt libero necessitatibus ipsa ipsum accusamus inventore aperiam ex eum enim consectetur, alias fugiat facere?
    
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio suscipit vero omnis labore voluptatibus ex fuga facere minus. Tempore minima culpa blanditiis earum ducimus dolorum? Voluptas nihil culpa labore enim.
    
      <h1>How Just-Search can help in getting loans online?</h1>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae, quo iste! Magni omnis, deserunt consequatur quae expedita excepturi? Vitae iusto maxime delectus ducimus recusandae neque asperiores doloribus soluta unde rem.
    </div>
    </div>