.example-card {
    max-width: 50%;
    display: flex;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 10%;
}
@media only screen and (max-width: 600px) {
    .example-card {
        max-width: 100%;
        display: flex;
        margin: auto;
        margin-top: 4%;
        margin-bottom: 10%;
    }
  }
.butt1 {
    display: flex;
    margin: auto;
    width: 100%;
}

.example-full-width {
    width: 100%;
    align-items: center;
}

.example-form-fields {
    display: flex;
    align-items: flex-start;
}
.space{
    padding: 5px;
}

img{
   
  width: 150px;
  height: 150px;
  border-radius: 50%;
}