<div class="container">
    <span><br><br></span>
    <img src="\assets\ods.jpg">
    <span><br><br></span>
    <div *ngFor="let card of cards">
        <hr>
        <mat-card>
            <mat-card-content>
                <div class="row">
                    <div class="col">
                        <mat-label routerLink="/ComingSoon">{{card.title}}</mat-label>
                    </div>
                    <div class="col" align="end">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <span><br><br><br><br></span>
</div>