.example-card {
    max-width: 50%;
    display: flex;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 10%;
}
@media only screen and (max-width: 600px) {
    .example-card {
        max-width: 100%;
        display: flex;
        margin: auto;
        margin-top: 4%;
        margin-bottom: 10%;
    }
  }

.butt1 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.example-full-width {
    width: 100%;
    align-items: center;
}


a {
    color: black;
}

.nav {
    margin-top: 2%;
}

.example-form-fields {
    display: flex;
    align-items: flex-start;
}

.example-container mat-form-field+mat-form-field {
    margin-left: 10px;
}