img {
    height: 250px;
    width: 200px;
}


.shoppingimg {
    height: 200px;
}

.example-card {
    max-width: 400px;
}

mat-card{
    height: 100%;
}
.slide{
    width: 100%;
}
.card{
    height: 100%;
}
.sale{
    padding-bottom: 5%;
}