.example-spacer {
    flex: 1 1 auto;
}

.text {
    text-align: center;

}

.img {
    vertical-align: middle;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding: 18px;
}

mat-menu{
    width: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');

.header {
  font-family: 'Titillium Web';

  font-weight: 600;
}

.header * {
  box-sizing: border-box;
  transition: all .35s ease;
}

/* .fr li {
    display: inline-block;
    list-style: outside none none;
    margin: .5em 1em;
    paddin: 0;
  }
   */
/* .footer button {
    padding: .5em .8em;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    text-decoration: none;
    font-size: 20px;
  } */

.header button::before,
.header button::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.header button::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #0044ff;
  border-right: 3px solid  #0051ff;
  transform: translate(-100%, 50%);
}

.header button:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #0051ff;
  border-left: 3px solid #0051ff;
  transform: translate(100%, -50%)
}

.header button:hover:before,
.header button:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

