<section>
    <div class="container">
        <div class="row">
            <ul class="nav justify-content-center">

                <li class="nav-item">
                    <a class="nav-link" routerLink="/AirTicket">Mobile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/ComingSoon">DTH</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/ComingSoon">Langline</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/ComingSoon">Electricity</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Train">Gas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/ComingSoon">Insurance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/ComingSoon">Water</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/ComingSoon"> Broadband</a>
                </li>

            </ul>
            <hr>
        </div>
    </div>
</section>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" class="tabs">
    <mat-tab label="Prepaid"><app-prepaid></app-prepaid></mat-tab>
    <mat-tab label="Postpaid"><app-postpaid></app-postpaid></mat-tab>

  </mat-tab-group>
  