<div class="container-fluid">
  <div class="row">
    <mat-slide-toggle [(ngModel)]="isChecked" (change)="changed($event)" align="end">
      <mat-icon>{{ mode }}</mat-icon>
    </mat-slide-toggle>
  </div>
  </div>
  <div class="container-fluid">
  <img src="\assets\Just-search.png" alt="Google" srcset="" class="size">
  <span><br></span>
  <form class="row example-form">

    <div class="col-12 input-group">
      <mat-form-field matPrefix appearance="outline" class="Country ">
        <mat-icon matPrefix> location_on</mat-icon>
        <input  placeholder="Enter Location" matInput [formControl]="myControl"
          [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name.common">
            {{option.name.common}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="search" appearance="outline">
        <!-- <input matInput #movieSearchInput placeholder="Just-Search"> -->
        <input type="search" matInput [formControl]="searchField" debounce="1000" placeholder="Just-Search" (keyup)="getSearch($event)" >
        <mat-icon matSuffix>zoom_in</mat-icon>
        <!-- <mat-icon matSuffix>mic_none</mat-icon> -->
      </mat-form-field>
    </div>

  </form>
  <div class="row" *ngIf="isSearching">
    <div class="col-12 text-center">
      <h4>Searching ... </h4>
    </div>
  </div>
  <div class="row">
    <ng-container *ngIf="apiResponse['Response'] == 'False'; else elseTemplate">
      <div class="col-12 text-center">
        <div class="alert alert-danger" role="alert">
          {{apiResponse['Error']}}
        </div>
      </div>
    </ng-container>
    <ng-template #elseTemplate>


      <div class="col-12" *ngFor="let movie of apiResponse['Search']">

        <!-- <div class="card w-25" style="margin:5px;">
            <img class="card-img-top" src="{{movie['Poster']}}">
            <div class="card-body">
              <h5 class="card-title">{{movie['Title']}}</h5>
              <p class="card-text">Year: {{movie['Year']}}</p>
            </div>
          </div> -->
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>{{movie['Title']}}</mat-card-title>
              <mat-card-subtitle>Year: {{movie['Year']}}</mat-card-subtitle>
              <img class="img1" mat-card-sm-image src="{{movie['Poster']}}">
            </mat-card-title-group>
          </mat-card-header>
          <!-- <mat-card-content>
              {{movie['Year']}}
            </mat-card-content> -->
          <span><br></span>
        </mat-card>

      </div>
    </ng-template>
  </div>
</div>

<!-- <div style="margin: 50px;">


    <div class="container" style="text-align:center">
      <div class="row">
        <div class="col-12 text-center">
          <h1>Angular Search using Debounce in RXJS 6</h1>
          <input type="text" #movieSearchInput class="form-control" placeholder="Type any movie name" />
  
        </div>
      </div>
      <div class="row" *ngIf="isSearching">
        <div class="col-12 text-center">
  
          <h4>Searching ... </h4>
  
        </div>
      </div>
      <div class="row">
        <ng-container *ngIf="apiResponse['Response'] == 'False'; else elseTemplate">
  
          <div class="col-12 text-center">
            <div class="alert alert-danger" role="alert">
              {{apiResponse['Error']}}
  
            </div>
          </div>
  
        </ng-container>
        <ng-template #elseTemplate>
  
  
          <div class="col-3" *ngFor="let movie of apiResponse['Search']">
  
            <div class="card" style="margin:5px;">
              <img class="card-img-top" src="{{movie['Poster']}}">
              <div class="card-body">
                <h5 class="card-title">{{movie['Title']}}</h5>
                <p class="card-text">Year: {{movie['Year']}}</p>
              </div>
            </div>
          </div>
  
        </ng-template>
      </div>
    </div>
  
  </div> -->

  <section>
    <div class="container">
    
        <div class="row text-center mt-4" >
            <div class="col-sm-6 height-50"  routerLink="/ComingSoon" *ngFor="let Service of Services$ | async">
                <mat-card class="card mb-3" style="max-width: 600px; ">

                    <div class="row g-0">

                        <div class="col-md-6 text-center mt-4">

                            <img [src]="Service.Service_img"  alt="card" >
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h3 class="card-title" routerLink="/ComingSoon"><b> <h2>{{Service. Service_product}}</h2></b></h3>
                                <p class="card-text " routerLink="/ComingSoon"  > {{Service. Service_Details}}</p>
                                <p class="card-text" routerLink="/ComingSoon"> {{Service. Service_Pbrand}}</p>
                                <!-- <p class="card-text" routerLink="/ComingSoon"> {{Service. Service_name}}</p> -->
                                <p class="card-text" >Offer Limited</p>
                                <p class="card-text" routerLink="/ComingSoon"> Price-:{{Service. Service_Price}}</p>
                                <!-- <p class="card-text" routerLink="/ComingSoon"> {{Service. Service_number}}</p>
                                <p class="card-text" routerLink="/ComingSoon"> {{Service. Service_email}}</p> -->
                                <!-- <p class="card-text" routerLink="/ComingSoon"> {{Service. Service_name}}</p> -->
                            </div>
                        </div>
                    </div>
                    <mat-card-actions >
                        <button mat-stroked-button color="primary" class="butt1">Check-Out</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
        <span><br><br><br></span>
    </div>
</section>