.size {
    width: 30%;
    display: flex;
    margin: 0 auto;
}


.search {
    width: 40%;
    margin-right: auto;
}

.Country {
    width: 12%;
    margin-left: auto;
}

.example-card {
    max-width: 400px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}
.img1{
 
    width: 50px;
    height: 50px;
}