<mat-toolbar class="navbar navbar-expand-lg ">
    <div class="footer">
        <button mat-button routerLink="/ComingSoon">Settings</button>
        <button mat-button routerLink="/ComingSoon">Terms</button>
        <button mat-button routerLink="/ComingSoon">Privacy</button>
        <button mat-button routerLink="/ComingSoon">How Search works</button>
        <button mat-button routerLink="/ComingSoon">Business</button>
        <button mat-button routerLink="/ComingSoon">Advertising</button>
        <button mat-button routerLink="/ComingSoon">About</button>
    </div>
    <span class="example-spacer"></span>
    <div>
        <h6>Website Desingned & Developed By <a style="color: #e58d41;">Vikas Sahu</a> </h6>
    </div>
</mat-toolbar>