
   

<div class="footer"> 

    <span>India : {{ipAddress}}</span>
    <button mat-button  routerLink="/ComingSoon">About</button>
    <button mat-button  routerLink="/ComingSoon">Advertising</button>
    <button mat-button  routerLink="/ComingSoon">Business</button>
    <button mat-button  routerLink="/ComingSoon">How Search works</button>
    <button mat-button  routerLink="/ComingSoon">Privacy</button>
    <button mat-button  routerLink="/ComingSoon">Terms</button>
    <button mat-button  routerLink="/ComingSoon">Settings</button>
</div>


