<!-- <mat-toolbar class="footer">
    <button mat-button  routerLink="/ComingSoon">Settings</button>
    <button mat-button  routerLink="/ComingSoon">Privacy</button>
    <button mat-button  routerLink="/ComingSoon">Terms</button>
    <button mat-button  routerLink="/ComingSoon">How Search works</button>
    <button mat-button  routerLink="/ComingSoon">Business</button>
    <button mat-button  routerLink="/ComingSoon">Advertising</button>
    <button mat-button  routerLink="/ComingSoon">About</button>
    <span>India</span>
</mat-toolbar> -->


<div class="container-fluid">
    <div class="row" >
        <nav class="navbar navbar-expand-lg ">
           <div class="footer">
            <span class="example-spacer"></span>
            <span>India</span>
                <button mat-button  routerLink="/ComingSoon">About</button>
           
                <button mat-button  routerLink="/ComingSoon">Advertising</button>
            
                <button mat-button  routerLink="/ComingSoon">Business</button>
           
                <button mat-button  routerLink="/ComingSoon">How Search works</button>
            
                <button mat-button  routerLink="/ComingSoon">Privacy</button>
            
                <button mat-button  routerLink="/ComingSoon">Terms</button>
           
                <button mat-button  routerLink="/ComingSoon">Settings</button>
            </div>
        </nav>
    </div>
</div>