

<section>

    <div class="container">
        <span><br></span>
        <mat-card class="example-card container ">
            <mat-card-header class="row text-center">
                <mat-card-title>
                    <span>Pay Your Bill For Mobile</span>
                </mat-card-title>
            </mat-card-header>
            <span><br></span>
            <div class="example-container">
                <form [formGroup]="PrepaidForm" novalidate (ngSubmit)="onRechargeSubmit()" class="d-flex-center">

                    <div class="example-form-fields">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Enter Your Mobile Number</mat-label>
                            <input matInput placeholder="Enter Your Mobile Number" formControlName="Mobile">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

                            <mat-error
                                *ngIf="PrepaidForm.get('Mobile')?.invalid && (PrepaidForm.get('Mobile')?.dirty || PrepaidForm.get('Mobile')?.touched) && PrepaidForm.get('Mobile')?.errors?.required">
                                Leaving From is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <mat-form-field class="example-full-width" appearance="outline" >
                        <mat-label>Your Network</mat-label>
                        <mat-select formControlName="Network" Single >
                           
                            <mat-option *ngFor="let classLists of classList"
                                [value]="classLists">{{classLists.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="example-form-fields">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>$ Enter Recharge Amount</mat-label>
                            <input matInput placeholder="$ Enter Recharge Amount" formControlName="Amount">
                            <mat-icon matSuffix>doller</mat-icon>

                            <mat-error
                                *ngIf="PrepaidForm.get('Amount')?.invalid && (PrepaidForm.get('Amount')?.dirty || PrepaidForm.get('Amount')?.touched) && PrepaidForm.get('Amount')?.errors?.required">
                                Leaving From is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="hhh mb-3">
                        <div class="row">
                            <div class="col-lg-6 " align="left">
                                <button mat-button color="primary">Submit</button>
                            </div>
                            <div class="col-lg-6"  align="right">
                                <button mat-button color="warn">Clear</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </mat-card>
    </div>
</section>

<section >
    <div class="container ">
        <div class="row">
            <ul class="nav justify-content-center">

                <li class="nav-item">
                    <a class="nav-link" routerLink="/ComingSoon">Airtel Postpaid</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/ComingSoon">BSNL Mobile Postpaid</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/ComingSoon">Jio Postpaid</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" routerLink="/ComingSoon">MTNL Mumbai Dolphine</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/ComingSoon">VI Postpaid</a>
                </li>
            </ul>
            
        </div>
    </div>
</section>
